<h1 class="popup-title">New service</h1>
<div class="popup-container">
    <form 
        [formGroup]="serviceForm"
        (ngSubmit)="onSubmit()"
        action="" 
        class="popup-form"
        >
        <div style="display: flex; flex-direction: column;">
            <label for="id">ID</label>
            <input type="number" id="id" formControlName="id" required>
        
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" (ngModelChange)="onChangeName()" required>
            
            <!--Es pot ficar també en el component i iterar-->
            <label for="area">Area</label>
            <select name="areas" id="areas" formControlName="area" required>
                <option value="Barcelona">Barcelona</option>
                <option value="Tarragona">Tarragona</option>
                <option value="Girona">Girona</option>
                <option value="Lleida">Lleida</option>
            </select>
        
            <!--Es pot ficar també en el component i iterar-->
            <label for="client">Client</label>
            <select name="clients" id="clients" formControlName="client" required>
                <option value="TMB">TMB</option>
                <option value="FGC">FGC</option>
                <option value="TRAM">TRAM</option>    
                <option value="Hispano">Hispano Igualadina</option>
                <option value="AMB">AMB</option>
                <option value="Alsa">Alsa</option>
                <option value="MonBus">MonBus</option>
            </select>
        
            <label for="Time">Time</label>
            <input type="text" 
                   formControlName="time" 
                   placeholder="mm:ss"
                   maxlength="5" 
                   (input)="formatTime($event)" 
                   pattern="^[0-5][0-9]:[0-5][0-9]$" 
                   required>
        
            <label for="Active">Active</label>
            <input type="checkbox" formControlName="active">

            <div class="coordinates-wrapper">
                <label for="Latitude">Latitude</label>
                <input id="latitude" name="latitude" type="number" [(ngModel)]="lat" (ngModelChange)="onChangeInput()" formControlName="latitude" required>
            
                <label for="Longitude">Longitude</label>
                <input type="number" name="longitude" type="number" [(ngModel)]="lng" (ngModelChange)="onChangeInput()" formControlName="longitude" required>
            </div>

            <div class="buttons-wrapper">
                <button class="service-btn" 
                        style="justify-self: center;" 
                        type="submit"
                        [disabled]="!this.serviceForm.valid"
                >Save</button>
                <button class="service-close-btn"
                        type="button"
                        (click)="closeDialog()"
                >X</button>
            </div>   
        </div>
    </form>
    
    <!--Map depending on the latitude/longitude selected previously-->
    <div class="map-wrapper">
        <app-map></app-map>
    </div>
</div>